<ion-header [translucent]="true">
  <br>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="full" fill="clear" (click)="back()">Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Reset Password</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card style="position: static;" color="medium">
    <ion-card-content>
      <form [formGroup]="mail" (ngSubmit)="resetPassword()">
        <ion-item fill="outline" class="ion-margin-bottom" style="border-radius: 10px;">
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
          <ion-note slot="error" *ngIf="(email!.dirty || email!.touched) && email!.errors">Email is invalid</ion-note>
        </ion-item>
        <ion-button type="submit" size="small" [disabled]="!mail!.valid">Reset Password</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
