<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-paddding">
  <ion-refresher slot="fixed" disabled="false" (ionRefresh)="doRefresh($event)">  
    <ion-refresher-content  
      pullingIcon="arrow-dropdown"  
      pullingText="Pull to refresh"  
      refreshingSpinner="circles"  
      refreshingText="Refreshing...">
    </ion-refresher-content>  
  </ion-refresher>
  <ion-header collapse="condense">
  </ion-header>
  <ion-card style="position: static;" color="medium">
    <ion-card-header>
      <ion-card-title style="font-size: x-large;">Reminders</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let uevent of user_events">
        <ion-item>
          <p style="font-size: xx-small; margin-right: 15px;">{{uevent.event_name}}</p>
          <p style="font-size: xx-small; margin-right: 15px;">{{uevent.date}}</p>
          <p style="font-size: xx-small; margin-right: 15px;">{{uevent.time}}</p>
          <ion-button (click)="deleteReminder(uevent.event_id)" size="xx-small" style="margin-left: 20px; margin-right: auto; width: 40px; height: 20px; font-size: xx-small;" >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-button [disabled]="false" (click)="goBack()" size="small" style="margin-left: auto; width: 80px; height: 30px; font-size: x-small;" >
      Events
    </ion-button>
  </ion-fab>
</ion-content>
