<ion-header translcant="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 style="margin-left: 20px;">Contact Us</h1>
    <ion-card style="position: static;" color="medium" >
      <ion-card-content style="margin-left: -8px;">
        <ion-grid>
          <ion-row >
            <ion-col size="13"><p><b>Ceylon Association of Shipping Agents</b></p></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="13"><p>Address : 56 Ward Place, Colombo 7</p></ion-col>
          </ion-row>
          <ion-row >
            <ion-col size="6"><p>Contact Details :</p></ion-col>
          </ion-row>
          <ion-row >
            <ion-col size="5"><p>011-2696-227</p></ion-col>
          </ion-row>
          <ion-row >
            <ion-col size="5"><p>077-5588-555</p></ion-col>
          </ion-row>
          <ion-row >
            <ion-col size="6"><p>itadmin@casa.lk</p></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>  
    </ion-card>
</ion-content>
