ion-fab-button {
    --background: #0687c8;
    --background-activated: #001b86;
    --background-hover: #4897af;
    --border-radius: 15px;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: black;
    font-size: xx-small;
  }