<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline" color="primary"></ion-icon>
      <div style="color: #3880ff;">Home</div>
    </ion-tab-button>
    <ion-tab-button tab="network">
      <ion-icon name="people-outline" color="primary"></ion-icon>
      
      <div style="color: #3880ff;">Network </div>
    </ion-tab-button>
    <ion-tab-button tab="events">
      <ion-icon name="calendar-outline" color="primary"></ion-icon>
      <div style="color: #3880ff;">Events</div>
    </ion-tab-button>
    <ion-tab-button tab="community">
      <ion-icon name="globe-outline" color="primary"></ion-icon>
      <div style="color: #3880ff;">Community</div>
    </ion-tab-button>
    <ion-tab-button tab="directory">
      <ion-icon name="folder-outline" color="primary"></ion-icon>
      <div style="color: #3880ff;">Directory</div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>