.required {
    color: red; /* Customize the color as needed */
    font-size: 1.2em; /* Adjust the font size as needed */
    margin-left: 4px; /* Add some spacing between the label and the asterisk */
  }

  .emailValidation {
    color: red;
    font-size: x-small;
  }